<div class="centered" style="margin: 10px auto;">
    <article>
        <div>
            <p style="text-align: center;"><b>Appointment details.</b></p>
            <form>
                <p>Problem description</p>
                <div class="input-group">
                    <div class="input-row">
                        <label style="width: 95%;font-weight: normal">Waiting for the installation of my new Cloud Cable. </label>
                    </div>
                </div>
                <p>Address</p>
                <div class="input-group">
                    <div class="input-row">
                        <label>Street</label>
                        <label style="width: 65%;font-weight: normal">Street from address here</label>
                    </div>
                    <div class="input-row">
                        <label>City</label>
                        <label style="width: 65%;font-weight: normal">City from address here</label>
                    </div>
                    <div class="input-row">
                        <label>State</label>
                        <label style="width: 65%;font-weight: normal">State from address here</label>
                    </div>
                    <div class="input-row">
                        <label>Zip Code</label>
                        <label style="width: 65%;font-weight: normal">Zip Code from address here</label>
                    </div>
                </div>
                <p>Requested Appointment Date</p>
                <div class="input-group">
                    <input type="date" />
                </div>
                <p>Requested Appointment Time</p>
                <div>
                    <select>
                        <option value="09:00 AM">09:00 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="01:00 PM">01:00 PM</option>
                        <option value="02:00 PM">02:00 PM</option>
                        <option value="03:00 PM">03:00 PM</option>
                        <option value="04:00 PM">04:00 PM</option>
                        <option value="05:00 PM">05:00 PM</option>
                        <option value="06:00 PM">06:00 PM</option>
                    </select>
                </div>
            </form>
            <div class="button-main button-block" id="btnUpdateAppt">Update</div>
            <div class="button button-block" id="btnCancelUpdate">Cancel</div>
        </div>
    </article>
</div>


